body{
	background-image: url("racing.gif");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
	border-width:10px;
	background-image: url("racing.jpg"); 
	border-style:ridge;
}
